div.titleWrapper{
	margin-top:50px;
    width:1000px;
    text-align:center;
}

div.buttonWrapper{
    width:1000px;
    text-align:right;
}

/** button 시작**/
div.buttonWrapper input{
    font-family:'NanumSquareEB';
    font-size:15px;
    padding:5px 15px 5px 15px;
    outline:none;
    border-radius:15px;
    border:#a1bffc solid 0.5px;
    background-color:#dae4f9;
}

div.buttonWrapper input:hover{
    cursor:pointer;
}

div.buttonWrapper input:active{
	background-color:#bacced;
}

/** button 마무리 **/

div.tableWrapper{
	margin-top:50px;
}

table{
	width:1000px;
}

th{
	padding:0 5px 0 5px;
}

table tr:nth-of-type(1) td:nth-of-type(1){
	width:550px;
}

table tr:nth-of-type(1) td:nth-of-type(2){
	width:270px;
}

table tr:nth-of-type(1) td:nth-of-type(1) input{
	width:550px;
}

table tr:nth-of-type(1) td:nth-of-type(2) input{
	width:270px;
}

table textarea{
	width:920px;
	height:300px;
}