@CHARSET "UTF-8";

div.titleWrapper{
    margin-top:50px;
    width:1000px;
    text-align:center;
}

div.buttonWrapper{
    width:1000px;
    text-align:right;
}

div.tableWrapper{
    margin-top:12px;
    width:1000px;
    height:auto;
/*     height:600px; */
}

table{
    width:1000px;
    border-collapse: collapse;
}

/** TableHeader **/
tr.tableColumnHeader{
    text-align:center;
}

th{
    border-top:1px solid black;
    padding:10px 0 10px 0;
    color:#167ed0
}

tr.tableColumnHeader th:nth-of-type(1){
    width:100px; /* 100 */
}

tr.tableColumnHeader th:nth-of-type(2){
    width:450px; /* 550 */
}

tr.tableColumnHeader th:nth-of-type(3){
    width:100px; /* 650 */
}

tr.tableColumnHeader th:nth-of-type(4){
    width:150px; /* 800 */
}

tr.tableColumnHeader th:nth-of-type(5){
    width:100px; /* 900 */
}

tr.tableColumnHeader th:nth-of-type(6){
    width:100px; /* 1000 */
}

/** TableData **/
tr.tableColumnData td{
    text-align:center;
    border-top:1px solid black;
    padding:10px 0 10px 0;
}

tr.tableColumnData td:first-of-type{
	display:none;
}

tr.tableColumnData:last-of-type{
    border-bottom:1px solid black;
}

tr.tableColumnData:hover{
    background-color:beige;
    cursor:pointer;
}

a{
    font-family:'NanumSquareEB';
    font-size:15px;
    color:black;
    padding:5px 15px 5px 15px;
    outline:none;
    text-decoration:none;
    border-radius:15px;
    border:#a1bffc solid 0.5px;
    background-color:#dae4f9;
}

a:hover{
    cursor:pointer;
}

a:active{
	background-color:#bacced;
}