@CHARSET "UTF-8";

/* Pagination */
div.paginationWrapper {
	padding: 30px 0;
	text-align: center;
	line-height: normal;
}

div.paginationWrapper a {
	font-family: 'NanumSquareEB';
	color: black;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	display: inline-block;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	margin: 0 -2.5px;
}

.paginationWrapper a:hover, .paginationWrapper a:active, .paginationWrapper a:focus {
	background-color: #dae4f9;
}

.paginationWrapper .direction {
	font-weight: normal;
	color: #5f95af;
	text-decoration: none !important;
	border: 0;
	z-index: 1;
}