<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="BoardMapper">

	<select
	id="getFullCountOnContent"
	resultType="java.lang.Integer">
	<![CDATA[
		SELECT
			COUNT(*) 
		FROM
			WEB_BOARD_TB		
	]]>	
	</select>
	
	<select
	id="getBoardTableRows"
	parameterType="java.util.Map"
	resultType="edu.doubler.domain.BoardContent">
	<![CDATA[
		SELECT 
			Full_TB2.rn as num,  
			Full_TB2.nums as pkn,
			Full_TB2.title as title, 
			Full_TB2.writer as writer, 
			Full_TB2.web_content as content, 
			Full_TB2.web_date as writeDate, 
			Full_TB2.web_count as read, 
			Full_TB2.hit_count as hit
		FROM 
		    (SELECT 
		    	Full_TB.rn as rn, 
		    	Full_TB.nums as nums, 
		    	Full_TB.title as title, 
		    	Full_TB.writer as writer, 
		    	Full_TB.web_content as web_content, 
		    	Full_TB.web_date as web_date, 
		    	Full_TB.web_count as web_count, 
		    	Full_TB.hit_count as hit_count FROM 
			        (SELECT 
			            ROWNUM as rn,
			            CONTENTS_NUMS as nums, 
			            CONTENTS_TITLE as title,
			            CONTENTS_WRITER as writer, 
			            CONTENTS_CONTENT as web_content, 
			            CONTENTS_DATE as web_date,
			            CONTENTS_READ_COUNT as web_count,
			            CONTENTS_HIT_COUNT as hit_count
			        FROM 
			            WEB_BOARD_TB 
			        ORDER BY CONTENTS_NUMS ASC) Full_TB
	    	WHERE rn <= #{endNumber}) Full_TB2
		WHERE rn >= #{startNumber}
	]]>
	</select>

	<select
	id="getBoardContent"
	parameterType="java.lang.Integer"
	resultType="edu.doubler.domain.BoardContent">
		SELECT 
			CONTENTS_NUMS as pkn,
			CONTENTS_TITLE as title, 
			CONTENTS_WRITER as writer, 
			CONTENTS_CONTENT as content,
			CONTENTS_DATE as writeDate,
			CONTENTS_READ_COUNT as read, 
			CONTENTS_HIT_COUNT as hit 
		FROM 
			WEB_BOARD_TB 
		WHERE 
			CONTENTS_NUMS = #{pkn}
	</select>

	<update
	id="updateReadCount"
	parameterType="java.lang.Integer">
		UPDATE 
			WEB_BOARD_TB 
		SET 
			CONTENTS_READ_COUNT = CONTENTS_READ_COUNT + 1 
		WHERE 
			CONTENTS_NUMS = #{pkn}
	</update>

	<insert
	id="addBoardContent"
	parameterType="edu.doubler.domain.BoardContent">
	<![CDATA[
		INSERT INTO
			WEB_BOARD_TB
			(
				CONTENTS_NUMS, 
				CONTENTS_TITLE, 
				CONTENTS_WRITER, 
				CONTENTS_CONTENT, 
				CONTENTS_DATE, 
				CONTENTS_READ_COUNT, 
				CONTENTS_HIT_COUNT
			)
		VALUES
			(
				CONTENTS_SEQ.NEXTVAL, 
				#{title}, 
				#{writer}, 
				#{content},
				#{writeDate},
				0,
				0
			)
	]]>
	</insert>
	
	<delete
	id="deleteBoardContent"
	parameterType="java.lang.Integer"
	>
	<![CDATA[
		DELETE FROM 
			WEB_BOARD_TB
		WHERE 
			CONTENTS_NUMS = #{pkn}			
	]]>	
	</delete>
	
	<update
	id="updateBoardContent"
	parameterType="edu.doubler.domain.BoardContent">
		UPDATE 
			WEB_BOARD_TB 
		SET 
		  	CONTENTS_TITLE = #{title},
		  	CONTENTS_WRITER = #{writer},
		  	CONTENTS_CONTENT = #{content}
		WHERE 
		  	CONTENTS_NUMS = #{pkn}
	</update>
</mapper>