<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="BoardMapper">

	<select
	id="getFullCountOnContent"
	resultType="java.lang.Integer">
	<![CDATA[
		SELECT
			COUNT(*) 
		FROM
			WEB_BOARD_TB		
	]]>	
	</select>
	
	<select
	id="getBoardTableRows"
	resultType="edu.doubler.domain.BoardContent">
	<![CDATA[
		SELECT 
			w.rn as num,
			w.CONTENTS_NUMS as pkn,
			W.CONTENTS_TITLE as title, 
			W.CONTENTS_WRITER as writer, 
			W.CONTENTS_CONTENT as content,
			W.CONTENTS_DATE as writeDate,
			W.CONTENTS_READ_COUNT as read, 
			W.CONTENTS_HIT_COUNT as hit
		FROM 
			(
				SELECT 
					ROWNUM as rn, 
					CONTENTS_NUMS, 
					CONTENTS_TITLE, 
					CONTENTS_WRITER, 
					CONTENTS_CONTENT, 
					CONTENTS_DATE, 
					CONTENTS_READ_COUNT, 
					CONTENTS_HIT_COUNT 
				FROM 
					WEB_BOARD_TB 
				WHERE 
					ROWNUM <= 10 
				ORDER BY CONTENTS_NUMS DESC
			) W
		WHERE rn >= 1
	]]>
	</select>

	<select
	id="getBoardContent"
	parameterType="java.lang.Integer"
	resultType="edu.doubler.domain.BoardContent">
		SELECT 
			CONTENTS_NUMS as pkn,
			CONTENTS_TITLE as title, 
			CONTENTS_WRITER as writer, 
			CONTENTS_CONTENT as content,
			CONTENTS_DATE as writeDate,
			CONTENTS_READ_COUNT as read, 
			CONTENTS_HIT_COUNT as hit 
		FROM 
			WEB_BOARD_TB 
		WHERE 
			CONTENTS_NUMS = #{pkn}
	</select>

	<update
	id="updateReadCount"
	parameterType="java.lang.Integer">
		UPDATE 
			WEB_BOARD_TB 
		SET 
			CONTENTS_READ_COUNT = CONTENTS_READ_COUNT + 1 
		WHERE 
			CONTENTS_NUMS = #{pkn}
	</update>

	<insert
	id="addBoardContent"
	parameterType="edu.doubler.domain.BoardContent">
	<![CDATA[
		INSERT INTO
			WEB_BOARD_TB
			(
				CONTENTS_NUMS, 
				CONTENTS_TITLE, 
				CONTENTS_WRITER, 
				CONTENTS_CONTENT, 
				CONTENTS_DATE, 
				CONTENTS_READ_COUNT, 
				CONTENTS_HIT_COUNT
			)
		VALUES
			(
				CONTENTS_SEQ.NEXTVAL, 
				#{title}, 
				#{writer}, 
				#{content},
				#{writeDate},
				0,
				0
			)
	]]>
	</insert>
	
	<delete
	id="deleteBoardContent"
	parameterType="java.lang.Integer"
	>
	<![CDATA[
		DELETE FROM 
			WEB_BOARD_TB
		WHERE 
			CONTENTS_NUMS = #{pkn}			
	]]>	
	</delete>
	
	<update
	id="updateBoardContent"
	parameterType="edu.doubler.domain.BoardContent">
		UPDATE 
			WEB_BOARD_TB 
		SET 
		  	CONTENTS_TITLE = #{title},
		  	CONTENTS_WRITER = #{writer},
		  	CONTENTS_CONTENT = #{content}
		WHERE 
		  	CONTENTS_NUMS = #{pkn}
	</update>
</mapper>